data/perspective/*.jpg*
data/quality_birds/*.jpg*
data/perspective/*.JPG*
data/quality_birds/*.JPG*
data/*.jpg

data/1/*.jpg*
data/1/*.JPG*
data/valued/*.jpg
data/valued/*.JPG
data/valued/*.png
data/valued/*.svg
data/valued/*.gif
data/valued/*.jpeg
data/valued/downloaded/**
data/quality_birds
data/perspective